.DS_Store
/articles/medium-content.html
.idea
.jc/

# Private book working material
/assets/book/5-minute-bedtime-stories-for-android-devs/LINKEDIN_HANDOFF.md
/assets/book/5-minute-bedtime-stories-for-android-devs/linkedin-posts/
/assets/book/5-minute-bedtime-stories-for-android-devs/stories/
